*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}
.head{
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-top: 20px;
    margin-bottom: 70px;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.lower{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.left button{
    padding: 5px 30px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    margin-top: 20px;
}
.lower div{
    flex: 1;
}
.image{
    background-color: #757773;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    color:#f9faf8;
    font-size: 48px;
    font-weight: bold;
}
.logo{
    font-size: 24px;
    color:#f9faf8
}
ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
ul a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
.secondary{
    color: #e5e7eb;
}

.info{
    text-align: center;
    margin-top: 30px;
}
.textimages{
    display: flex;
    justify-content:center;
    gap: 50px;
    margin-top: 35px;
    margin-bottom: 70px;
}
.item{
    max-width: 150px;
}
.empty{
    max-width: 150px;
    height: 150px;
    border: 2px solid #3882f8;
    border-radius: 10px;
}
.p{
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}
.comment{
    height: 300px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}
.article{
    max-width: 800px;
}
.testi{
    font-size: 36px;
    font-style: italic;
}
.author{
    text-align: right;
    font-weight: bold;
}
.action{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.call{
    width: 900px;
    background-color: #3882f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    border-radius: 10px;
    gap: 100px;
}
.to h2{
    color:#f9faf8;
    font-weight: bold;
}
.to p{
    color: #e5e7eb;
}
.call button{
    background-color: #3882f8;
    padding: 10px 50px;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    border-radius: 10px;
}
